<app-header></app-header>
<div class="outdoorsahdes"><h1>Indoor Shading</h1></div>
<div class="textoutdoor">
    <div class="outdooesahdesimg1">
        <img src="./assets/dashboard/indoor/图片_20240124123444-1024x698.jpg" alt=""> 
       <img src="./assets/dashboard/indoor/图片_20240124121349-scaled.jpg" alt="">
       <img src="./assets/dashboard/indoor/图片_20240123174454-scaled.jpg" alt="">
       
       
     
    </div>

      <div class="text1">  
        <h1>Dream Shades</h1>
        <h1>Fabric Venetian Blinds</h1>
        <h1>Flax & Bamboo Shades</h1></div>
    <div class="outdooesahdesimg2"> 
       <img src="./assets/dashboard/indoor/图片_20240123172100.jpg" alt="">
       <img src="./assets/dashboard/indoor/图片_20240123134245.jpg" alt="">
       <img src="./assets/dashboard/indoor/图片_20240123125051-scaled.jpg" alt=""></div>
       
       <div class="text2">  
        <h1>Honeycomb Shades</h1>
        <h1>Roller Shades</h1>
        <h1>Roman Shades</h1></div>
       <div class="outdooesahdesimg3"> 
           <img src="./assets/dashboard/indoor/图片_20240123103453.jpg" alt="">
           <img src="./assets/dashboard/indoor/图片_20240116161558.jpg" alt="">
           <img src="./assets/dashboard/indoor/图片_20240116131744.jpg" alt="">
          </div>
         
          <div class="text3">  
            <h1>Shangri-La Shades</h1>
            <h1>Skylight Honeycomb</h1>
            <h1>Vertical Blinds</h1></div>
</div>


       




<app-footer></app-footer>
