<app-header></app-header>
<div class="outdoor-service">
    <h1>outdoor service</h1>
</div>
<div class="outdoor"> <img src="./assets/outdoorservice/67569-17234870.jpg" alt=""></div>

<div class="outdoor-text">
    <h2>Our Service</h2>
    <h1>Outdoor Products Service</h1>
    <p>ShadingMaster offers customized design, manufacturing, and local installation services for commercial and residential awnings and shading structures.</p>
</div>
<div class="img-text">
    <div class="text1">
        <h1>Premium Smart Shading</h1>
        <p>We dedicated to providing the <br>
             highest quality smart shading <br>
              products with market-leading <br>
               designs, top-notch fabrics, <br>
                technology, and service.</p>
    </div>
    <div class="img"> 
        <img src="./assets/outdoorservice/182.png" alt=""  style="width: 500px;">
    </div>
    <div class="text2">
        <h1> one-stop service</h1>
        <p>ShadingMaster provides you <br>
             with a one-stop service, <br>
              eliminating worries about <br>
               product selection and <br>
                installation.​</p>
    </div>
    
</div>
<div class="img-text1">
    <div class="text3">
        <h1>Energy-Saving Shading <br>
             Solutions</h1>
        <p>Our outdoor shading product <br>
             line not only provides sun <br>
              protection and rain resistance <br>
               but also enhances your living <br>
                environment while saving energy.

        </p>
    </div>
    <div class="text4">
        <h1>Toronto Construction  <br>
            Experts</h1>
        <p>In Toronto, our team of skilled <br>
             architectural designers and licensed <br>
              construction experts manage every <br>
               aspect, from design to navigating <br>
                local regulations and securing <br>
                 construction permits, ensuring <br>
                  a hassle-free process.</p>
    </div>
</div>
<div class="indoor-service">
    <h1>indoor service</h1>
    </div>
    <div class="outdoor"> <img src="./assets/outdoorservice/160 (1).jpg" alt=""></div>
    
    <div class="outdoor-text">
        <h2>Our Service</h2>
        <h1>Indoor Products Service</h1>
        <p>Discover the world of custom window treatments with ShadingMaster. We bring you premium quality window shades and blinds at prices significantly lower than <br>
             in traditional stores, all available online from the comfort of your home. The price you add to your quote list isn’t the final price due to varying <br>
              shipping  costs depending on your location. Rest assured, we provide a detailed quote with the final price and no hidden shipping, brokerage, or duty/custom charges.</p>
              <p>Explore our extensive range of custom window coverings, tailored to your exact specifications for a perfect fit in your home. Our selection includes Zebra shades, <br>
                 Roller shades,Honeycomb shades, Roman shades, Venetian Blinds, Shangri-La shades, Flax & Bamboo shades, Dream shades and Hanas shades.</p> 
                 <p>
                    Every window blind and shade we offer is crafted by the same high-quality manufacturers as top global window covering brands, but at a more affordable price for you. <br>
                     We’re committed to the quality of our products and back them with a 100% satisfaction guarantee on all our window coverings.
                 </p>
    </div>
    <div class="img-text">
        <div class="text1">
            <h1>Premium Smart Shading</h1>
            <p>We dedicated to providing the <br>
                 highest quality smart shading <br>
                  products with market-leading <br>
                   designs, top-notch fabrics, <br>
                    technology, and service.</p>
        </div>
        <div class="img"> 
            <img src="./assets/outdoorservice/_Topmost_Terrace__A_Rooftop_Garden_Extravaganza___Heirloom_Heights__Rooftop_Gardens_of_Legacy_-removebg-preview.png" alt=""  style="width: 500px;">
        </div>
        <div class="text2">
            <h1> one-stop service</h1>
            <p>ShadingMaster provides you <br>
                 with a one-stop service, <br>
                  eliminating worries about <br>
                   product selection and <br>
                    installation.​</p>
        </div>
        
    </div>
    <div class="img-text1">
        <div class="text3">
            <h1>Energy-Saving Shading <br>
                 Solutions</h1>
            <p>Our outdoor shading product <br>
                 line not only provides sun <br>
                  protection and rain resistance <br>
                   but also enhances your living <br>
                    environment while saving energy.
    
            </p>
        </div>
        <div class="text4">
            <h1>Toronto Construction  <br>
                Experts</h1>
            <p>In Toronto, our team of skilled <br>
                 architectural designers and licensed <br>
                  construction experts manage every <br>
                   aspect, from design to navigating <br>
                    local regulations and securing <br>
                     construction permits, ensuring <br>
                      a hassle-free process.</p>
        </div>
    

</div>
<div class="child-safty">
<h1>CHILD SAFETY</h1>
</div>

<div class="child-safty-text"> 
    <div><p>On average, one child dies each year in Canada from strangulation <br>
         caused by corded window coverings. This number represents a tragic loss <br>
          that could have been prevented.</p>
          <p>Recognizing the urgency of the issue, Health Canada has <br>
             implemented substantial changes to its regulations governing the <br>
              manufacturing and sale of window coverings in the country. These revisions <br>
               are a step in the right direction and are welcomed by advocacy groups such <br>
                as Parents for Window Blind Safety, who have been tirelessly campaigning <br>
                 for stricter regulations in the industry for the past 12 years.</p>
        </div>
    <div> <img src="./assets/outdoorservice/gratisography-baby-hand-free-stock-photo-1170x780-1.jpg" alt=""></div>
</div>

<div class="footer">
    <div class="img"> <img src="./assets/gallery/3333-600x241.png" alt=""></div>
    <div class="Help-Centre">
        <h1>Help Centre</h1>
        <p>Frequently Asked <br>
             Questions</p>
             <p>About Measurement</p>
             <p>Contact Us Page</p>
             <p>Warranty Policy</p>
             <p>Privacy Policy</p>

    </div>
    <div class="Contact-US">
         <h1>Contact-US</h1>
        <p>yuan@shadingmaster.com</p>
        <p>2506-7 Lorraine Drive, North York, <br> ON</p>
        <p>Monday-Friday 9:00 am – 4:30 pm <br> EST</p>
        <p>Saturday-Sunday 10:00 am – 3:00 pm <br> EST</p>
        <p></p>
        <p></p>
       </div>
  </div>

