<app-header></app-header>
<div class="outdoorsahdes"><h1>Outdoor Shading</h1></div>
<div class="textoutdoor">
    <div class="outdooesahdesimg1">
        <img src="./assets/dashboard/outdoor/Premier-Pergola-1-e1696443362524.jpeg" alt=""> 
       <img src="./assets/dashboard/outdoor/High-Quality-Full-Cassette-Awning-Waterproof-Windproof-Awning-Motorized-Retractable-Awning-Outdoor-300x300.webp" alt="">
       <img src="./assets/dashboard/outdoor/Ha3736ba0888c438da844cab5616c137ea.jpg_960x960.webp" alt="">
       
       
     
    </div>

      <div class="text1">  
        <h1>Lotus</h1>
        <h1>Konga</h1>
        <h1>Orchid</h1></div>
    <div class="outdooesahdesimg2"> 
       <img src="./assets/dashboard/outdoor/canva-hc-1.png" alt="">
       <img src="./assets/dashboard/outdoor/201.jpeg" alt="">
       <img src="./assets/dashboard/outdoor/38-1.png" alt=""></div>
       
       <div class="text2">  
        <h1> Godzilla</h1>
        <h1>Zipper Track Roller</h1>
        <h1>Orchid</h1></div>
       <div class="outdooesahdesimg3"> 
           <img src="./assets/dashboard/outdoor/2.png" alt="">
           <img src="./assets/dashboard/outdoor/32.jpeg" alt="">
           <img src="./assets/dashboard/outdoor/181.jpeg" alt="">
          </div>
         
          <div class="text3">  
            <h1>Lotus</h1>
            <h1>Konga</h1>
            <h1>Orchid</h1></div>
</div>

<app-footer></app-footer>