
.outdoorsahdes{
    margin-top: 30px;
    background-color: #80b1c2;
    width: 100%;
    height: 140px;
}
.outdoorsahdes h1{
margin-left: 100px;
font-size: 40px;
font-family: Belleza, sans-serif;
color: #fff;
text-transform: uppercase;
padding-top: 50px;
}
.outdooesahdesimg1 img{
    
    width: 350px;
    height: 400px;
}
.outdooesahdesimg2 img{
    
    width: 350px;
    height: 400px;
}
.outdooesahdesimg3 img{
    
    width: 350px;
    height: 400px;
}

.outdooesahdesimg1 {
    display: flex;
    background-color: #dfeef3;
    justify-content: space-evenly;
    padding-top: 40px;
   
}
.outdooesahdesimg2 {
    display: flex;
    background-color: #dfeef3;
    justify-content: space-evenly;
    
}
.outdooesahdesimg3 {
    display: flex;
    background-color: #dfeef3;
    justify-content: space-evenly;
   
    

}
.text1 {
    justify-content: space-evenly;
    display: flex;
    background-color: #dfeef3;
}
.text2 {
    justify-content: space-evenly;
    display: flex;
    background-color: #dfeef3;
}
.text3 {
    justify-content: space-evenly;
    display: flex;
    background-color: #dfeef3;
}

.text1 h1{
    font-size: 15px;
    text-align: center;
}
.text2 h1{
    font-size: 15px;
    text-align: center;
}
.text3 h1{
    font-size: 15px;
    text-align: center;
}

@media screen and (min-width:375px) and (max-width:767px) {

.outdoorsahdes{
    margin-top: 30px;
    background-color: #80b1c2;
    width: 100%;
    height: 140px;
}
.outdoorsahdes h1{
margin-left: 100px;
font-size: 40px;
font-family: Belleza, sans-serif;
color: #fff;
text-transform: uppercase;
padding-top: 50px;
}
.outdooesahdesimg1 img{
    
    width: 350px;
    height: 400px;
}
.outdooesahdesimg2 img{
    
    width: 350px;
    height: 400px;
}
.outdooesahdesimg3 img{
    
    width: 350px;
    height: 400px;
}

.outdooesahdesimg1 {
    display: flex;
    background-color: #dfeef3;
    justify-content: space-evenly;
    padding-top: 40px;
   
}
.outdooesahdesimg2 {
    display: flex;
    background-color: #dfeef3;
    justify-content: space-evenly;
    
}
.outdooesahdesimg3 {
    display: flex;
    background-color: #dfeef3;
    justify-content: space-evenly;
   
    

}
.text1 {
    justify-content: space-evenly;
    display: flex;
    background-color: #dfeef3;
}
.text2 {
    justify-content: space-evenly;
    display: flex;
    background-color: #dfeef3;
}
.text3 {
    justify-content: space-evenly;
    display: flex;
    background-color: #dfeef3;
}

.text1 h1{
    font-size: 15px;
    text-align: center;
}
.text2 h1{
    font-size: 15px;
    text-align: center;
}
.text3 h1{
    font-size: 15px;
    text-align: center;
}
}