.footer{
    width: 100%;
    height: 500px;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    padding-top: 120px;
}
.footer img{
    width: 300px;
    height: 140px; 
    padding-left: 40px;
    padding-top: 30px;
}
.Help-Centre{
    color: #fff;
    text-align: center;
    
}
.Contact-US{
    color: #fff;
    text-align: center;
}