<div class="footer">
    <div class="img"> <img src="./assets/gallery/3333-600x241.png" alt=""></div>
    <div class="Help-Centre">
        <h1>Help Centre</h1>
        <p>Frequently Asked <br>
             Questions</p>
             <p>About Measurement</p>
             <p>Contact Us Page</p>
             <p>Warranty Policy</p>
             <p>Privacy Policy</p>

    </div>
    <div class="Contact-US">
         <h1>Contact-US</h1>
        <p>yuan@shadingmaster.com</p>
        <p>2506-7 Lorraine Drive, North York, <br> ON</p>
        <p>Monday-Friday 9:00 am – 4:30 pm <br> EST</p>
        <p>Saturday-Sunday 10:00 am – 3:00 pm <br> EST</p>
        <p></p>
        <p></p>
       </div>
  </div>


