<app-header></app-header>
<div class="inspiration"> 
    <h1>inspiration</h1>
</div>
<div class="inspiration-img">
    <div class="inspiration-1">
        <img src="./assets/inspration/137.jpg" alt="" > 
       <img src="./assets/inspration/138.jpg" alt="" height="500px">
       
    </div>
    <div class="inspiration-2">
        <img src="./assets/inspration/139.jpg" alt=""  > 
       <img src="./assets/inspration/140.jpg" alt="" style="margin-top: -28rem;" >
       
    </div>
    <div class="inspiration-3">
        <img src="./assets/inspration/141.jpg" alt=""  height="500px" > 
       <img src="./assets/inspration/142.jpg" alt="" style="margin-top: 5px;" >
       
    </div>
    <div class="inspiration-4">
        <img src="./assets/inspration/143.jpg" alt="" style="margin-top: -20rem;"  > 
       <img src="./assets/inspration/149.jpg" alt="" style="margin-top: 5px;" >
       
    </div>
    <div class="inspiration-5">
        <img src="./assets/inspration/166.jpg" alt=""  > 
       <img src="./assets/inspration/167.jpg" alt="" style="margin-top: 5px;" >
       
    </div>
</div>

<div class="footer">
    <div class="img"> <img src="./assets/gallery/3333-600x241.png" alt=""></div>
    <div class="Help-Centre">
        <h1>Help Centre</h1>
        <p>Frequently Asked <br>
             Questions</p>
             <p>About Measurement</p>
             <p>Contact Us Page</p>
             <p>Warranty Policy</p>
             <p>Privacy Policy</p>

    </div>
    <div class="Contact-US">
         <h1>Contact-US</h1>
        <p>yuan@shadingmaster.com</p>
        <p>2506-7 Lorraine Drive, North York, <br> ON</p>
        <p>Monday-Friday 9:00 am – 4:30 pm <br> EST</p>
        <p>Saturday-Sunday 10:00 am – 3:00 pm <br> EST</p>
        <p></p>
        <p></p>
       </div>
  </div>

