.inspiration{
    margin-top: 30px;
    background-color: #80b1c2;
    width: 100%;
    height: 140px;
}
.inspiration h1{
    margin-left: 100px;
font-size: 40px;
font-family: Belleza, sans-serif;
color: #fff;
text-transform: uppercase;
padding-top: 50px;
}
.inspiration-1 {
    justify-content: space-evenly;
    display: flex;
    height: 800px;
   
}
.inspiration-1 img{
    padding-top: 50px;
width: 550px;
margin-left: 20px;
}
.inspiration-2 {
    justify-content: space-evenly;
    display: flex;
    height: 800px;
   
}
.inspiration-2 img{
    padding-top: 50px;
width: 550px;
margin-left: 20px;
}
.inspiration-3 {
    justify-content: space-evenly;
    display: flex;
    height: 700px;
   
}
.inspiration-3 img{
    padding-top: 50px;
width: 550px;
margin-left: 20px;
}
.inspiration-4 {
    justify-content: space-evenly;
    display: flex;
    height: 800px;
   
}
.inspiration-4 img{
    padding-top: 50px;
width: 550px;
margin-left: 20px;
}
.inspiration-5 {
    justify-content: space-evenly;
    display: flex;
    height: 800px;
   
}
.inspiration-5 img{
    padding-top: 50px;
width: 550px;
margin-left: 20px;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    padding-top: 120px;
    margin-top: 50px;
}
.footer img{
    width: 300px;
    height: 140px; 
    padding-left: 40px;
    padding-top: 30px;
}
.Help-Centre{
    color: #fff;
    text-align: center;
    
}
.Contact-US{
    color: #fff;
    text-align: center;
}