<div class="main">
    <app-header></app-header>
        <div class="text"> 
        <h1>Experience the <br>
         Beauty of <br> 
         Natural Light</h1>
         <p>Find the perfect window treatments to <br>
             enhance your space.</p>
        </div>
       
        <div class="dasboard-image"> 
            <img src="./assets/dashboard/842240_m.jpg"  alt="">
        </div>
       
      
    <div class="about"> 
        <h1>About Shading Master</h1>
        <mat-divider></mat-divider>
        <div class="about-img-text">
            <div>
                <img src="./assets/about/cr=w_1200,h_600 (2).webp" alt="">
            </div>
            <div>
                <h1>Our Mission</h1>
               <p>At Shading Master, our mission is to provide our customers with <br>
                 the highest quality locally manufactured Plantation Shutters, Roller Shades and <br>
                  Blinds at competitive prices. We believe that everyone deserves to have beautiful <br>
                   and functional window treatments in their home or business, and we <br>
                    are committed to making it happen.</p>
            </div>

            
        </div>
        
        <div class="about-img-text">
            <div>
                <h1>Our Expertise</h1>
               <p>Our team at Shading Master has the expertise and knowledge <br> 
                needed to help you find the perfect window treatments for your space. Whether <br>
                 you are looking for something energy-efficient, child-safe, or just stylish, we <br>
                  have the perfect solution for you.</p>
            </div>

            <div>
                <img src="./assets/about/cr=w_1200,h_600 (3).webp" alt="">
            </div>
           
            
        </div>
        
        <div class="about-img-text">
            <div>
                <img src="./assets/about/cr=w_1200,h_600 (4).webp" alt="">
            </div>
            <div>
                <h1>Our Services</h1>
               <p>We offer a range of services to make the process of purchasing and installing <br>
                 Plantation Shutters, Roller Shades and Blinds as easy as possible. From free <br>
                  consultations to professional installation, we are here to help you every step of <br>
                   the way. <strong>We have over 40 years of window covering experience!</strong> </p>
            </div>

    </div>

    <div class="gallery"> 
        <h1>Window Covering Inspiration Gallery</h1>
        <mat-divider></mat-divider></div>
        
            

        <div class="scroll-container">
          <img src="./assets/gallery/135.jpg" alt="Cinque Terre" width="600" height="400">
          <img src="./assets/gallery/132.jpg" alt="Forest" width="600" height="400">
          <img src="./assets/gallery/136.jpg" alt="Northern Lights" width="600" height="400">
          <img src="./assets/gallery/146.jpg" alt="Mountains" width="600" height="400">
          <img src="./assets/gallery/147.jpg" alt="Mountains" width="600" height="400">
          <img src="./assets/gallery/150.jpg" alt="Mountains" width="600" height="400">
          <img src="./assets/gallery/154.jpg" alt="Mountains" width="600" height="400">
          <img src="./assets/gallery/160.jpg" alt="Mountains" width="600" height="400">
        </div>
       
   

  <div class="contact">
    <h1>Contact Us</h1>
        <mat-divider></mat-divider>
        <div class="contactus">
          <h2>Better yet, see us in person!</h2>
          <p>We stay in constant communication with our customers until the job is done. To get a free quote, or if you <br>
             have questions or special requests, just drop us a line at <a href="#">shadingmasterbusiness@gmail.com</a> or call us <br>
              at 678-323-6455.</p>
          <h2>Shading master</h2>
          <p>Cumming, Georgia 30040, United States</p>
          <h2>Hours</h2>
         
<mat-form-field>
  <mat-label>Today By Appointment</mat-label>
  <mat-select [disabled]="disableSelect.value">
    <mat-option value="option1">Mon By Appointment</mat-option>
    <mat-option value="option2">Tue By Appointment</mat-option>
    <mat-option value="option3">Wed By Appointment</mat-option>
    <mat-option value="option4">Thu By Appointment</mat-option>
    <mat-option value="option5">Fri By Appointment</mat-option>
    <mat-option value="option6">Sat By Appointment</mat-option>
  </mat-select>
</mat-form-field>
        </div>

  </div>

  <div class="footer">
    <div class="img"> <img src="./assets/gallery/3333-600x241.png" alt=""></div>
    <div class="Help-Centre">
        <h1>Help Centre</h1>
        <p>Frequently Asked <br>
             Questions</p>
             <p>About Measurement</p>
             <p>Contact Us Page</p>
             <p>Warranty Policy</p>
             <p>Privacy Policy</p>

    </div>
    <div class="Contact-US">
         <h1>Contact-US</h1>
        <p>yuan@shadingmaster.com</p>
        <p>2506-7 Lorraine Drive, North York, <br> ON</p>
        <p>Monday-Friday 9:00 am – 4:30 pm <br> EST</p>
        <p>Saturday-Sunday 10:00 am – 3:00 pm <br> EST</p>
        <p></p>
        <p></p>
       </div>
  </div>
